@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import "tailwindcss";

@layer utilities {
  .py-fluid {
    padding-top: clamp(2.5rem, 6vw, 4rem);
    padding-bottom: clamp(2.5rem, 6vw, 4rem);
  }
}

@theme {
  --font-bowlby: "Bowlby One", sans-serif;
  --font-dm-mono: "DM Mono", monospace;
  --color-brand-blue: #4876ff;
  --color-brand-lime: #d9f154;
  --color-brand-navy: #2e3192;
  --color-brand-orange: #ff7347;
  --color-brand-pink: #f7d0e9;
  --color-brand-purple: #692e54;
  --color-brand-gray: #fffdf9;
}

.bg-texture {
  background-image: url("/bg-texture.webp");
  background-size: 720px 460px;
  background-repeat: repeat;
  background-position: center;
}
